@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
:root {
  --bg: 248 5% 96%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Inter, ui-sans-serif, system-ui;
  background: hsl(var(--bg));
}
